<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Gestión de Productos</title>
    <style>
        * { box-sizing: border-box; margin: 0; padding: 0; }
        body { font-family: 'Segoe UI', sans-serif; background: #f5f4f0; color: #1a1a18; padding: 2rem 1rem; }
        h1 { font-size: 24px; text-align: center; margin-bottom: 2rem; }
        .card { background: #fff; border-radius: 12px; padding: 1.5rem; max-width: 900px; margin: 0 auto; box-shadow: 0 2px 10px rgba(0,0,0,0.05); }
        .section-label { font-size: 12px; font-weight: bold; color: #6b6b67; text-transform: uppercase; margin-bottom: 1rem; }
        .btn-nuevo { display: inline-block; background-color: #01415B; color: white; padding: 10px 20px; border-radius: 8px; text-decoration: none; margin-bottom: 20px; font-size: 14px; }
        table { width: 100%; border-collapse: collapse; margin-top: 10px; }
        thead th { text-align: left; font-size: 12px; color: #6b6b67; padding: 12px; border-bottom: 2px solid #eee; }
        tbody td { padding: 12px; border-bottom: 1px solid #eee; font-size: 14px; }
        .btn-editar { background-color: #01415B; color: white; padding: 5px 12px; border-radius: 4px; text-decoration: none; margin-right: 5px; font-size: 12px; }
        .btn-eliminar { background-color: #dc3545; color: white; padding: 5px 12px; border-radius: 4px; text-decoration: none; font-size: 12px; }
    </style>
</head>
<body>

<h1>Sistema de Gestión de Productos</h1>
<a th:href="@{/home}" class="btn-nuevo">Regresar a home</a>

<div class="card">
    <div class="section-label">Busqueda de producto</div>
    <form th:action="@{/productos/buscar}" method="get" style="display: flex; align-items: flex-end; gap: 15px;">
        <div class="field" style="flex: 1;">
            <label>ID Producto</label>
            <input type="number" name="idProducto" placeholder="Ej: 2" required />
        </div>
        <div class="btn-row">
            <button type="submit" class="btn-nuevo" style="background-color: #185FA5;"> Buscar</button>
            <a th:href="@{/productos}" class="btn-nuevo" style="background-color: #185FA5;" >Limpiar</a>
        </div>
    </form>
</div>

<div class="card">
    <div class="section-label">Panel de Control</div>
    <a th:href="@{/productos/nuevo}" class="btn-nuevo">+ Registrar Nuevo Producto</a>

    <div class="section-label">Lista de Productos Registrados</div>
    <table>
        <thead>
        <tr>
            <th style="width:10%">ID</th>
            <th>Nombre</th>
            <th>Precio</th>
            <th style="width:10%">stock</th>
            <th style="width:10%">estado</th>
            <th style="width:25%; text-align:center">Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="producto : ${productos}">
            <td th:text="${producto.codigoProducto}"></td>
            <td th:text="${producto.nombreProducto}"></td>
            <td th:text="${producto.precioProducto}"></td>
            <td th:text="${producto.stockProducto}"></td>
            <td th:text="${producto.estadoProducto}"></td>
            <td style="text-align:center">
                <a th:href="@{/productos/editar/{id}(id=${producto.codigoProducto})}" class="btn-editar">Editar</a>
                <a th:href="@{/productos/eliminar/{id}(id=${producto.codigoProducto})}" class="btn-eliminar">Eliminar</a>
            </td>
        </tr>
        <tr th:if="${#lists.isEmpty(productos)}">
            <td colspan="5" style="text-align:center">No hay productos registrados.</td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>